html
   head
      title User: #{name}
   body
      h1 Welcome!
      div Hey #{name}, here is your personalised weather forecast!
      div
          a(href = '/') Return to main page
      br
      div 
          a(href = 'logout') Click here to logout
      br
